// Body
$body-bg: #DEDEDE;
$--color-white: #FFFFFF;
$--color-primary: #46AAAF;
$--color-danger: #E87883;
$--color-dark: #180A0A;
$--color-input-field: #EEF3F5;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
