version: "3"
services:
  carpat-db:
    image: mariadb:10.5
    container_name: carpat-db
    volumes:
      - "./database/data:/var/lib/mysql"
      - "./database/config:/etc/mysql/conf.d"
    ports:
      - "3386:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
    networks:
      - carpat-network
    restart: unless-stopped

  carpat-webserver:
    image: nginx:alpine
    container_name: carpat-webserver
    restart: unless-stopped
    tty: true
    ports:
      - "880:80"
      - "8843:443"
    volumes:
      - "../carpat-app/:/var/www"
      - "./nginx/conf.d/:/etc/nginx/conf.d/"
    networks:
      - carpat-network

  carpat-app:
    image: carpat-application:latest
    container_name: carpat-app
    links:
      - carpat-db
    ports:
      - "9000:9000"
      - "882:22"
    working_dir: /var/www
    volumes:
      - "../carpat-app:/var/www"
    environment:
      - APP_URL=http://localhost
      - MAIL_HOST=carpat-mailhog
      - MAIL_USERNAME=null
      - MAIL_PASSWORD=null
      - MAIL_ENCRYPTION=null
      - MAIL_PORT=1025
      - MAIL_FROM_ADDRESS=email@example.com
      - MAIL_NAME="carpat"
      - MAIL_DELAY=2500
      - DB_HOST=carpat-db
      - DB_DATABASE=carpat_db
      - DB_USERNAME=root
      - DB_PASSWORD=root
      - DB_PORT=3306
    networks:
      - carpat-network
    restart: unless-stopped

  carpat-mailhog:
    image: mailhog/mailhog
    container_name: carpat-mailhog
    ports:
      - "8825:8025"
      - "8125:1025"
    networks:
      - carpat-network

networks:
  carpat-network:
    driver: "bridge"
