.input-field {
    display: flex;
    flex-direction: column;

    &__label {
        font-size: 0.875rem;
    }

    &__input {
        border-radius: 0.75rem;
        border: none;
        padding: 0.75rem 1rem;
        background-color: $--color-input-field;

        &:focus {
            outline: none;
        }
    }
}
